<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Here you use the url_for() helper function 
        to generate the appropriate location of the file. 
        The first argument specifies that you’re linking to a static file 
        and the second argument is the path of the file 
        inside the static directory.
                         -->
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>FlaskBlog</title>
    </head>
    <body>
        {% extends 'base.html' %}

        {% block content %}
            <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1>
        {% endblock %}
    </body>
</html>
